.walk-start-loading-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--material-theme-key-colors-primary, #00af50);
    z-index: 5; // 푸터보다는 z-index가 높게 설정
    @include inline-flexbox(center, center);
    @include custom-font-size(900, 96px, white, 72px, -1.92px);
}

.walk-loading-image-container {
    width: 100%;
    height: 100%;
    gap: 5px;
    @include column-flexbox(center, center);
    img {
        width: 68px;
        height: 35px;
    }
    span {
        color: var(--material-theme-ref-neutral-neutral30, #454545);
        text-align: center;
        @include custom-font-size(600, 16px, sh, 24px, -0.32px);
    }
}
