.mypage-container {
  @include column-flexbox(start, center);
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: #fff;

  .mypage-title {
    @include custom-font-size(600, 24px, h2, 34px, -0.56px);
    letter-spacing: -0.56px;
    padding-top: 20px;
    text-align: center;
  }

  .intro-circle {
    width: 232px;
    height: 232px;

    margin-top: 78px;
    border-radius: 50%;
    background-color: #ccc;
  }
  .mypage-next-button {
    position: absolute;
    bottom: 160px;
    background-color: #53e07a;
    text-align: center;
    @include custom-font-size(600, 18px, t3, 24px, -0.36px);
    padding: 18px 150px;
    border-radius: 12px;
    width: 350px;
    gap: 8px;
    transition: background-color 0.3s;
  }
}
