// 기록 탭 scss 작성한 내용 /page/_record.scss에 바로 붙혀넣기 하면 됩니다.
.record-calendar-container {
    @include column-flexbox(center, between);
    padding-left: 20px;
    padding-right: 20px;
    background: #ffffff;

    .record-calendar-header {
        display: flex;
        align-items: center;
        margin-top: 64px;
        margin-bottom: 32px;

        .record-calendar-back-button {
            width: 28px;
            height: 28px;
            cursor: pointer;
            margin-right: 16px; /* Add spacing between the icon and title */
        }

        .record-calendar-title {
            @include custom-font-size(700, 24px, t3, 28px, -0.36px);
        }
    }

    .record-calendar {
        display: flex;
        padding-top: 3px;
        padding-left: 16px;
        padding-right: 16px;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .record-calendar-month {
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            justify-content: center;

            color: #181d18;
            font-family: "Roboto";
            font-size: 20px;
            font-weight: 700;

            .month-nav-button {
                background: #e0e0e0;
                border: none;
                width: 25px;
                height: 24px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                margin: 0 10px;
                padding: 0;

                &.right {
                    transform: scaleX(-1);
                }
            }
        }

        .toggle-container {
            display: flex;
            align-items: center;
            justify-content: center;

            .record-calendar-toggle-button {
                width: 28px;
                height: 28px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: transform 0.3s;

                &.rotated {
                    transform: rotate(180deg);
                }
            }
        }

        .record-calendar-day-labels,
        .record-calendar-grid {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 10px;
            width: 100%;
            max-width: 600px;
        }

        .record-calendar-day-labels {
            text-align: center;
            margin-bottom: 10px;
            font-weight: bold;

            font-family: "Roboto";
            font-size: 12px;
            font-weight: 550;
            color: #8f8f8f;

            .record-calendar-day-label {
                padding: 5px 0;
            }

            .sunday {
                color: #ba1a1a;
            }

            .saturday {
                color: #33818e;
            }
        }

        .record-calendar-grid {
            .record-calendar-day {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                background: #ffffff;
                border-radius: 8px;
                text-align: center;

                font-family: "Roboto";
                font-size: 16px;
                font-weight: 500;

                &.empty {
                    background: transparent;
                }

                &.sunday .record-calendar-date {
                    color: #ba1a1a;
                }

                &.saturday .record-calendar-date {
                    color: #33818e;
                }

                .record-calendar-date {
                    position: relative;
                    height: 20px; /* Set fixed height */
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.today {
                        font-weight: bold;
                        color: #006d2f;

                        .highlight-circle {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 32px;
                            height: 32px;
                            background-color: rgba(0, 175, 80, 0.2);
                            border-radius: 50%;
                        }
                    }
                }

                .record-calendar-dots {
                    display: flex;
                    gap: 2px;
                    padding-top: 10px;
                    align-items: center;
                    justify-content: center;
                    height: 12px; /* Set fixed height */

                    .record-calendar-dot {
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                    }

                    .record-calendar-dot-plus {
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
    }
}

.boundary {
    margin-top: 28px;
    border: 6px solid #f6f6f6;
}

.routine-details {
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    margin-top: 20px;

    h2 {
        margin-bottom: 16px;
        font-family: "Roboto";
        font-weight: 700;
        font-size: 18px;
        color: #757575;
    }

    .routine-detail-item {
        background: #ffffff;
        border-radius: 8px;
        border: 1px solid #e2e2e2;
        padding: 10px;
        margin-bottom: 10px;
        font-family: "Roboto";
        font-size: 16px;
        font-weight: 500;
        color: #181d18;

        h3 {
            margin: 0;
            margin-bottom: 5px;
            font-size: 16px;
            font-weight: 700;
        }

        p {
            margin: 0;
            font-size: 14px;
            color: #606060;
        }
    }
}

.record-calendar-container-sub {
    @include column-flexbox(center, between);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background: #f7f7f7;

    .record-tab {
        display: flex;
        padding: 20px 20px 0px 20px;
        margin-bottom: 20px;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 12px;
        background: #ffffff;
        .record-tab-title-wrap {
            display: flex;
            align-content: center;
            justify-content: flex-start;
            margin-bottom: 20px;
            .record-tab-title {
                color: var(--material-theme-ref-neutral-neutral60, #8f8f8f);

                font-family: Roboto;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 18px;
                letter-spacing: -0.28px;
                &.time {
                    margin-left: 8px;
                    color: var(--material-theme-ref-tertiary-tertiary50, #33818e);

                    font-family: Roboto;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 18px;
                    letter-spacing: -0.28px;
                }
            }
        }

        .record-tab-map {
            display: flex;
            width: 100%;
            min-height: 150px;
            margin-bottom: 20px;
            background: #f7f7f7;
            border-radius: 12px;
            border: 1px solid var(--material-theme-ref-neutral-neutral90, #e2e2e2);
        }
        .record-tab-info {
            display: flex;
            width: 100%;
            min-height: 150px;
            margin-bottom: 24px;
            background: #f7f7f7;
            border: 1px solid var(—material-theme-ref-neutral-neutral90, #e2e2e2);
        }
    }
}
