.walk-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    overflow: hidden;

    &.active {
        height: 100vh;
    }

    .walk-map {
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .walk-controls-backboard-container {
        position: absolute;
        bottom: 86px;
        left: 50%;
        transform: translate(-50%);
        z-index: 5;

        .walk-controls-backboard-item-container {
            position: relative;
            @include inline-flexbox(center, center);

            .walk-controls-backboard-pause-click-icon-container {
                left: 65px;
                bottom: 180px;
                width: 240px;
                position: absolute;
                gap: 38px;
                @include inline-flexbox(between, center);
                z-index: 1; // 낮을 수록 상위
                .walk-controls-backboard-restart-icon-container {
                    @include inline-flexbox(center, center);
                    width: 100px;
                    height: 100px;
                    background-color: var(--material-theme-ref-primary-primary80, #53e07a);
                    border-radius: 50%;
                }
                .walk-controls-backboard-stop-icon-container {
                    @include inline-flexbox(center, center);
                    width: 100px;
                    height: 100px;
                    background-color: var(--material-theme-ref-primary-primary80, #de3730);
                    border-radius: 50%;
                }
            }

            .walk-controls-backboard-pause-icon {
                position: absolute;
                z-index: 1; // 낮을 수록 상위
                bottom: 180px;
                left: 50%;
                transform: translate(-50%);
            }

            .walk-controls-backboard-info-up-container {
                position: absolute;
                width: 100%;
                padding: 0 30px;
                bottom: 110px;
                z-index: 1;
                @include inline-flexbox(between, center);
                .walk-controls-backboard-walk-time-info {
                    @include column-flexbox(center, center);
                    width: 148px;
                    h2 {
                        @include custom-font-size(400, 12px, b3-md, 16px, -0.24px);
                    }
                    p {
                        @include custom-font-size(600, 32px, h2, 36px, -0.64px);
                    }
                }
                .walk-controls-backboard-distance-info {
                    @include column-flexbox(center, center);
                    width: 148px;
                    h2 {
                        @include custom-font-size(400, 12px, b3-md, 16px, -0.24px);
                    }
                    p {
                        @include custom-font-size(600, 32px, h2, 36px, -0.64px);
                    }
                }
            }

            .walk-controls-backboard-info-hr {
                position: absolute;
                bottom: 100px;
                width: 330px;
                z-index: 1;
                height: 1px;
                background-color: #f2f2f2;
            }

            .walk-controls-backboard-info-down-container {
                position: absolute;
                width: 100%;
                padding: 0 30px;
                bottom: 20px;
                z-index: 1;
                @include inline-flexbox(between, center);
                .walk-controls-backboard-person-walk-kcal-info {
                    @include column-flexbox(center, center);
                    width: 148px;
                    h2 {
                        @include custom-font-size(400, 12px, b3-md, 16px, -0.24px);
                    }
                    p {
                        padding-top: 5px;
                        @include custom-font-size(600, 32px, h2, 36px, -0.64px);
                    }
                }
                .walk-controls-backboard-dog-walk-kcal-info {
                    @include column-flexbox(center, center);
                    width: 148px;
                    h2 {
                        @include custom-font-size(400, 12px, b3-md, 16px, -0.24px);
                    }
                    .walk-controls-backboard-dog-selection-container {
                        @include inline-flexbox(between, center);
                        width: 145px;
                        .walk-controls-backboard-dog-selection-info-container {
                            @include column-flexbox(center, center);
                            .walk-controls-backboard-dog-selection-info {
                                height: 36px;
                                @include inline-flexbox(between, center);
                                gap: 6px;
                                .walk-controls-backboard-dog-selection-profile {
                                    width: 28px;
                                    height: 28px;
                                    margin-left: 10px;
                                    border-radius: 50%;
                                    border: 1px solid var(--material-theme-ref-neutral-neutral80, #c5c5c5);
                                }
                                p {
                                    padding-top: 5px;
                                    @include inline-flexbox(center, center);
                                    width: 54px;
                                    @include custom-font-size(600, 32px, h2, 36px, -0.64px);
                                }
                            }

                            .walk-controls-backboard-dog-selection-step-container {
                                @include inline-flexbox(between, center);
                                width: 20px;
                                .walk-controls-backboard-dog-selection-step {
                                    width: 4px;
                                    height: 4px;
                                    background-color: var(--material-theme-ref-neutral-neutral90, #e2e2e2);
                                    border-radius: 50%;

                                    &.active {
                                        background-color: var(--material-theme-key-colors-primary, #00af50);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .walk-controls-container {
        position: absolute;
        @include inline-flexbox(between, center);
        padding: 0 20px 25px 20px;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        width: 100%;

        .walk-controls-board-container {
            width: 100%;
            @include inline-flexbox(between, center);

            .walk-controls-dogs-info-container {
                @include column-flexbox(between, center);
                gap: 4px;

                .walk-controls-dogs-info {
                    position: relative;
                    @include inline-flexbox(center, center);
                    width: 68px;
                    height: 68px;
                    border-radius: 50%;
                    background-color: #ffffff;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

                    &.active {
                        border: 2px solid var(--material-theme-ref-primary-primary70, #30c462);
                    }

                    .walk-controls-dogs-info-count-container {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        z-index: 10;
                        .walk-controls-dogs-info-count-background {
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            background-color: #30c462;
                            @include inline-flexbox(center, center);
                            .walk-controls-dogs-info-count {
                                @include custom-font-size(600, 12px, t3, 16px, -0.24px);
                            }
                        }
                    }
                }
            }

            .walk-controls-dogs-info-title {
                position: absolute;
                bottom: 35px;
                left: 27px;
                @include custom-font-size(600, 12px, b3-sm, 16px, -0.24px);
            }

            .walk-controls-start-button-background {
                @include inline-flexbox(center, center);
                width: 130px;
                height: 130px;
                border-radius: 50%;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background: var(--material-theme-ref-primary-primary80, #98ffb6);
                    opacity: 0.48;
                    z-index: 1;
                }
                .walk-controls-start-button {
                    @include column-flexbox(center, center);
                    background-color: var(--material-theme-ref-primary-primary80, #53e07a);
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    padding: 15px 30px;
                    margin: 10px 0;
                    cursor: pointer;
                    font-size: 18px;
                    transition:
                        box-shadow 0.3s ease,
                        transform 0.3s ease;
                    gap: 8px;
                    z-index: 2;

                    .walk-controls-start-button-text {
                        width: 54px;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 16px;
                        letter-spacing: -0.24px;
                        text-align: center;
                    }
                }
            }

            .walk-controls-current-position {
                @include inline-flexbox(center, center);
            }
        }
    }
}

.walk-dog-selection-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;

    .walk-dog-selection-modal-container {
        @include column-flexbox(end, start);
        width: 100%;
        height: calc(100vh - 100px);
        padding: 20px;
        gap: 15px;
        text-align: center;

        .walk-dog-selection-item-container {
            @include column-flexbox(center, center);
            gap: 4px;
            .walk-dog-selection-item {
                position: relative;
                width: 68px;
                height: 68px;
                border: 2px solid var(--material-theme-ref-neutral-neutral90, #e2e2e2);
                box-sizing: border-box;
                background-color: #f9f9f9;
                border-radius: 50%;
                cursor: pointer;
                display: flex;
                align-items: center;

                img {
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;
                    border-radius: 50%;
                }

                &.selected {
                    border: 2px solid var(--material-theme-ref-primary-primary70, #30c462);
                }
                .walk-dog-selection-item-icon-container {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    z-index: 10;
                }
            }

            .walk-dog-selection-item-name {
                @include custom-font-size(600, 12px, b3-smb, 16px, -0.24px);
            }
        }

        .walk-dog-selection-modal-close {
            @include inline-flexbox(center, center);
            width: 68px;
            height: 68px;

            background-color: #f9f9f9;
            border-radius: 50%;
            margin-bottom: 35px;
        }
    }
}
