@font-face {
    font-family: "Roboto";
    src: url("../../assets/Roboto-Thin.ttf") format("opentype");
    unicode-range: U+1100-11FF, U+3130-318F, U+A960-A97F, U+AC00-D7A3, U+D7B0-D7FF;
}

* {
    font-family: "Pretendard";
}

@media (min-width: 375px) {
    #root {
        width: 430px;
    }
}
@media (max-width: 500px) {
    #root {
        width: 100vw;
    }
}

#root {
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

button {
    cursor: pointer;
}
